In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data_dir='Z:\ML Course\Clustering\Data'

In [ ]:
os.chdir(data_dir)

In [ ]:
data=pd.read_csv("kc_housingdata.csv")

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
## Choose columns that are numeric and have a numeric interpretation
data_num=data[['price','bedrooms','bathrooms','sqft_living']]

In [ ]:
data_num.dtypes

In [ ]:
## Scale the data, using pandas
def scale(x):
    return (x-np.mean(x))/np.std(x)
data_scaled=data_num.apply(scale,axis=0)

In [ ]:
data_scaled.head()

In [ ]:
## Scale the data using sklearn
import sklearn.preprocessing as preprocessing
dat_scaled=preprocessing.scale(data_num,axis=0)

In [ ]:
print (dat_scaled)
print ("Type of output is "+str(type(dat_scaled)))
print ("Shape of the object is "+str(dat_scaled.shape))

In [ ]:
## Create a cluster model
import sklearn.cluster as cluster

In [ ]:
kmeans=cluster.KMeans(n_clusters=3,init="k-means++")
kmeans=kmeans.fit(dat_scaled)

In [ ]:
kmeans.labels_

In [ ]:
kmeans.cluster_centers_

In [ ]:
## Elbow method
from scipy.spatial.distance import cdist
K=range(1,20)
wss = []
for k in K:
    kmeans = cluster.KMeans(n_clusters=k,init="k-means++")
    kmeans.fit(dat_scaled)
    wss.append(sum(np.min(cdist(dat_scaled, kmeans.cluster_centers_, 'euclidean'), 
                                      axis=1)) / dat_scaled.shape[0])

In [ ]:
plt.plot(K, wss, 'bx')
plt.xlabel('k')
plt.ylabel('WSS')
plt.title('Selecting k with the Elbow Method')
plt.show()

In [ ]:
import sklearn.metrics as metrics
labels=cluster.KMeans(n_clusters=8,random_state=200).fit(dat_scaled).labels_

In [ ]:
metrics.silhouette_score(dat_scaled,labels,metric="euclidean",sample_size=10000,random_state=200)

In [ ]:
for i in range(7,13):
    labels=cluster.KMeans(n_clusters=i,random_state=200).fit(dat_scaled).labels_
    print ("Silhoutte score for k= "+str(i)+" is "+str(metrics.silhouette_score(dat_scaled,labels,metric="euclidean",
                                 sample_size=1000,random_state=200)))

In [24]:
## Let's try to find the cluster profiles
import os
os.chdir("Z:\ML Course\Clustering\Codes")

In [25]:
import cluster_profiles as cluster_profiles

In [26]:
## Let's look for profiles for 8,9,10 clusters
kmeans=cluster.KMeans(n_clusters=8,random_state=200).fit(dat_scaled)

In [27]:
cluster_profiles.get_zprofiles(data=data_num.copy(),kmeans=kmeans)

           price  bedrooms  bathrooms  sqft_living  Size
Labels
0       0.644691  0.344504   0.735787     0.992995  3132
1      -0.541668 -0.280571  -1.053502    -0.788342  4013
2       2.285528  0.922012   1.727444     2.194598   994
3       6.410548  1.250798   2.649467     3.697950   161
4      -0.494520 -1.571551  -1.211377    -1.073651  2445
5       0.278340  2.132508   1.031714     1.020664  1070
6      -0.203515 -0.493676   0.194295    -0.238244  5696
7      -0.263011  0.804906   0.129389     0.040654  4102

In [ ]:
cluster_profiles.get_profiles(data=data_num.copy(),kmeans=kmeans)